@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

/* Navbar CSS */
.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: transparent; /* Transparent background */
  box-shadow: none; /* Remove the box shadow */
  transition: background-color 0.3s, box-shadow 0.3s;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.nav-link {
  font-weight: 400; /* Adjust font weight */
  transition: color 0.3s; /* Smooth color transition */
}

.nav-link:hover {
  color: #007bff; /* Change the color on hover to your preferred color */
}

.nav-link-logout {
  cursor: pointer;
}

.active {
  border-bottom: 2px solid transparent; /* Hide the default border */
  padding-bottom: 2px; /* Add some padding to the bottom to separate it from the text */
  background: linear-gradient(to right, #007bff, #007bff) no-repeat;
  background-size: 100% 2px; /* Adjust the width and height as needed */
  background-position: 0 100%;
}

.navbar-brand {
  font-weight: 700;
  font-family: "Roboto", sans-serif; /* Correct font family name */
  letter-spacing: 2px; /* Adjust letter spacing */
  font-size: 24px; /* Increase font size for the brand */
  margin-left: 20px; /* Add margin to brand */
}

/* Adjustments for mobile responsiveness */
@media (max-width: 768px) {
  .navbar {
    background-color: #fff; /* Revert to white background on small screens */
    position: static;
  }

  .nav-link {
    margin: 0 10px; /* Reduce spacing between links on small screens */
  }
}

/* Your CSS file */
.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../public/images/Banner.jpg);
  background-size: cover;
  transition: transform 0.5s ease-in-out; /* Add a transition effect for transform */
}

.hero-section:hover {
  transform: scale(1.01); /* Zoom in on hover */
}

main {
  flex: 1;
  padding: 20px;
  margin-top: 62px;
}

.sticky-footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

/* Footer */
.footer {
  text-align: center; /* Center align the content */
}

.footer a {
  text-decoration: none;
  color: #f5a623; /* Yellowish link text color */
  font-size: 16px; /* Slightly larger font size */
  transition: color 0.3s; /* Slightly slower color transition */
  border-bottom: 1px solid transparent; /* Initially, no border */
}

.footer a:hover {
  color: #ffefba; /* Light yellowish color on hover */
  border-bottom: 1px solid #ffefba; /* Add a bottom border on hover */
}

/* Add smooth hover effect */
.footer a:hover {
  transition: color 0.3s, border-bottom 0.3s;
}

/* Add subtle box shadow on hover */
.footer a:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Page Not Found */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Register */
.register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;
}

.instructions {
  font-size: 0.8rem; /* Slightly increased font size */
  border-radius: 8px; /* Slightly increased border radius */
  background: #333;
  color: #fff;
  padding: 0.25rem 0.5rem; /* Adjusted padding */
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.product-link {
  text-decoration: none;
  color: black !important;
}

.product-image {
  max-width: 100%;
  height: auto;
}

.product-title {
  font-size: 24px;
  color: #333;
}

.product-description {
  font-size: 16px;
  color: #666;
  margin-top: 10px;
}

.product-price {
  font-size: 20px;
  color: #ff6600;
  font-weight: bold;
  margin-top: 10px;
}

.product-category {
  font-size: 16px;
  color: #666;
  margin-top: 10px;
}

.product-button {
  background-color: #ff6600;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-button:hover {
  background-color: #ff4400;
}

.product-info .card-title {
  font-size: 1.2rem; /* Adjust the font size as needed */
}

.product-info .product-price {
  font-size: 1.2rem; /* Adjust the font size as needed */
  color: #ff5733; /* Change the color to your preferred price color */
}

/* Apply hover effects to the product card */
.product-card {
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.product-card:hover {
  background-color: #f8f8f8; /* Change the background color on hover */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Add a shadow on hover */
}

/* Add animation to the image inside the product card */
.product-card .product-image {
  transition: transform 0.3s;
}

.product-card:hover .product-image {
  transform: scale(1.1); /* Scale up the image on hover */
}

/* Style for the category links */
.category-link {
  display: block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.category-link:hover {
  background-color: #0056b3;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
