@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

/* Navbar CSS */
.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: transparent; /* Transparent background */
  box-shadow: none; /* Remove the box shadow */
  transition: background-color 0.3s, box-shadow 0.3s;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.nav-link {
  font-weight: 400; /* Adjust font weight */
  transition: color 0.3s; /* Smooth color transition */
}

.nav-link:hover {
  color: #007bff; /* Change the color on hover to your preferred color */
}

.nav-link-logout {
  cursor: pointer;
}

.active {
  border-bottom: 2px solid transparent; /* Hide the default border */
  padding-bottom: 2px; /* Add some padding to the bottom to separate it from the text */
}

/* Add a specific style for the User link when it's active */
.nav-link.active {
  background: linear-gradient(to right, #007bff, #007bff) no-repeat;
  background-size: 100% 2px; /* Adjust the width and height as needed */
  background-position: 0 100%;
}

.navbar-brand {
  font-weight: 700;
  font-family: "Roboto", sans-serif; /* Correct font family name */
  letter-spacing: 2px; /* Adjust letter spacing */
  font-size: 24px; /* Increase font size for the brand */
  margin-left: 20px; /* Add margin to brand */
}

/* Adjustments for mobile responsiveness */
@media (max-width: 768px) {
  .navbar {
    background-color: #fff; /* Revert to white background on small screens */
    position: static;
  }

  .nav-link {
    margin: 0 10px; /* Reduce spacing between links on small screens */
  }
}

/* Your CSS file */
.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../public/images/Banner.jpg);
  background-size: cover;
  transition: transform 0.5s ease-in-out; /* Add a transition effect for transform */
}

.hero-section:hover {
  transform: scale(1.01); /* Zoom in on hover */
}

main {
  flex: 1;
  padding: 20px;
  margin-top: 62px;
  margin-bottom: 52px;
}

.custom-checkbox {
  /* Hover effect */
  &:hover {
    border: 1px solid #007bff; /* Change border color on hover to primary color blue */
    color: #fff; /* Text color for the checkbox on hover */
  }
}

.radio-group {
  display: flex; /* Apply a flex display to arrange radio buttons horizontally */
  justify-content: space-between; /* Adjust alignment as needed */
}

.custom-radio {
  display: inline-block;
  transition: all 0.3s; /* Add a smooth transition for hover and selection */
}

.sticky-footer {
  color: #ccc; /* Change the text color to white */
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0; /* Place the footer at the bottom */
  z-index: 1000;
}

.sticky-footer a {
  text-decoration: none;
  color: #ccc; /* Change link text color to black */
  font-size: 16px;
  margin-left: 5px;
  transition: color 0.3s;
  border-bottom: 1px solid transparent;
}

.sticky-footer a:hover {
  color: #222;
  border-bottom: 1px solid #ffefba;
}

/* Add smooth hover effect */
.sticky-footer a:hover {
  transition: color 0.3s, border-bottom 0.3s;
}

/* Media query for screens smaller than 768px (e.g., mobile devices) */
@media (max-width: 768px) {
  .footer {
    padding: 5px;
  }

  .footer a {
    font-size: 14px;
  }
}

/* Page Not Found */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Register */
.register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;
}

.instructions {
  font-size: 0.8rem; /* Slightly increased font size */
  border-radius: 8px; /* Slightly increased border radius */
  background: #333;
  color: #fff;
  padding: 0.25rem 0.5rem; /* Adjusted padding */
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.product-link {
  text-decoration: none;
  color: black !important;
}

.product-image {
  max-width: 100%;
  height: auto;
}

.product-title {
  font-size: 24px;
  color: #333;
}

.product-description {
  font-size: 16px;
  color: #666;
  margin-top: 10px;
}

.product-price {
  font-size: 20px;
  color: #ff6600;
  font-weight: bold;
  margin-top: 10px;
}

.product-category {
  font-size: 16px;
  color: #666;
  margin-top: 10px;
}

.product-button {
  background-color: #ff6600;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-button:hover {
  background-color: #ff4400;
}

.product-info .card-title {
  font-size: 1.2rem; /* Adjust the font size as needed */
}

.product-info .product-price {
  font-size: 1.2rem; /* Adjust the font size as needed */
  color: #ff5733; /* Change the color to your preferred price color */
}

/* Apply hover effects to the product card */
.product-card {
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.product-card:hover {
  background-color: #f8f8f8; /* Change the background color on hover */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Add a shadow on hover */
}

/* Add animation to the image inside the product card */
.product-card .product-image {
  transition: transform 0.3s;
}

.product-card:hover .product-image {
  transform: scale(1.01); /* Scale up the image on hover */
}

/* Style for the category links */
.category-link {
  display: block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.category-link:hover {
  background-color: #0056b3;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Adjustments for mobile responsiveness */
@media (max-width: 768px) {
  .navbar {
    padding: 10px; /* Add some padding to the header to make it look better on smaller screens */
  }

  /* Reduce the font size and add margin to the navbar brand */
  .navbar-brand {
    font-size: 18px;
    margin-left: 0; /* Remove the left margin on smaller screens */
  }

  /* Reduce the font size of nav links */
  .nav-link {
    font-size: 16px;
  }

  /* Reduce the padding for nav items */
  .nav-item {
    padding: 5px 10px;
  }

  /* You can further adjust the styles as needed for smaller screens */
  /* For example, you can reduce the icon size to make them look smaller */
  .navbar .fas {
    font-size: 20px;
  }
}

/* Media Query for screens with a maximum width of 768px */
@media (max-width: 768px) {
  .navbar {
    background-color: #fff;
    position: static;
  }

  .nav-link {
    margin: 0 10px;
  }

  .hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../public/images/Banner.jpg);
    background-size: cover;
    transition: transform 0.5s ease-in-out;
  }

  .custom-radio {
    display: inline-block;
    transition: all 0.3s;
  }
}

/* Media Query for screens with a maximum width of 576px */
@media (max-width: 576px) {
  .navbar {
    font-size: 16px;
  }

  .navbar-brand {
    font-size: 20px;
  }

  .nav-link {
    font-size: 16px;
  }

  .hero-section {
    background-size: contain;
  }

  .pnf-title {
    font-size: 60px;
  }

  .product-title {
    font-size: 20px;
  }

  .product-description {
    font-size: 14px;
  }

  .product-price {
    font-size: 18px;
  }

  .product-button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .category-link {
    padding: 8px 16px;
    margin: 3px;
  }
}
