@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

/* Navbar CSS */
.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: #fff; /* Light background color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Smoother box shadow */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transitions */
}

/* Hover effect */
.navbar:hover {
  background-color: #f7f7f7; /* Slightly change background on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Smoother box shadow on hover */
}

.nav-link {
  font-weight: 300 !important;
}

.nav-link-logout {
  cursor: pointer;
}

.active {
  border-bottom: 2px solid black;
}

.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
}

/* Your CSS file */
.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 20px;
}

.sticky-footer {
  background-color: #333; /* Change the background color as needed */
  color: #fff; /* Change the text color as needed */
  padding: 10px; /* Adjust padding as needed */
}

/* Footer */
.footer {
  background: #222; /* Dark background color */
  text-align: center; /* Center align the content */
  /* Add a gradient background */
  background: linear-gradient(to right, #333, #222);
}

.footer a {
  text-decoration: none;
  color: #f5a623; /* Yellowish link text color */
  font-size: 16px; /* Slightly larger font size */
  transition: color 0.3s; /* Slightly slower color transition */
  border-bottom: 1px solid transparent; /* Initially, no border */
}

.footer a:hover {
  color: #ffefba; /* Light yellowish color on hover */
  border-bottom: 1px solid #ffefba; /* Add a bottom border on hover */
}

/* Add smooth hover effect */
.footer a:hover {
  transition: color 0.3s, border-bottom 0.3s;
}

/* Add subtle box shadow on hover */
.footer a:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Page Not Found */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Register */
.register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;
}

.instructions {
  font-size: 0.8rem; /* Slightly increased font size */
  border-radius: 8px; /* Slightly increased border radius */
  background: #333;
  color: #fff;
  padding: 0.25rem 0.5rem; /* Adjusted padding */
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.product-link {
  text-decoration: none;
  color: black !important;
}
